<div class="container" *ngIf="loading_post">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>
<div class="container espacio_head" *ngIf="!loading_post">
  <div class="w-100 row">
    <div class="col-md-5">
      <h3>Detail post: {{ id }}</h3>
    </div>
    <div class="col-md-7 text-right">
      <h5 *ngIf="last_date != ''">Último Comentario: {{ last_date }}</h5>
    </div>
  </div>
  <div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
  </div>
  <app-comments
    (send_date)="getDate($event)"
    [idPost]="id"
  ></app-comments>
</div>
